*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}
header{
    padding-top: 30px;
}
header p {
    padding-top: 30px;
}
nav {
    line-height: 50px;
}
nav ul{
    list-style: none;
    padding: 0;
    background-color: #b6ffbb;
}
nav ul li{
    display: inline;
    margin: 15px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(2, 53, 27);
    font-size: 20px;
    line-height: 50px;
}
nav ul li a:hover{
   color: rgb(2, 189, 42);
}
.categories {
    background-color: #b6ffbb;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.categories ul{
    list-style: none;
    padding: 0;
}

.categories ul li{
    margin: 15px;
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 10px 10px 5px rgb(131, 167, 132);
}
.categories ul li a {
    text-decoration: none;
    color: rgb(2, 53, 27);
    font-size: 20px;
    line-height: 50px;
    font-weight: bold;
}
.categories ul li a:hover{
    color: rgb(2, 189, 42);
}
.categories h2{
    margin: 15px;
    padding-top: 20px;
}
button {
    background: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
button:hover {
    background: white;
    color: #4CAF50;
}
.katalozi{
    display: flex;
    flex-direction: column;
}
.katalog{
    height: 320px;
}
.katalog h2{
    padding-top: 80px;
    font-size: 40px;
}
.katalog button{
    background-color: rgba(59, 104, 78, 0.6);
    height: 60px;
    width: 130px;
    font-size: 16px;
}
#hladni{
    background-image: url("../slike/hladni.jpg");
    background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}
#topli{
    background-image: url("../slike/topli.jpg");
    background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}
#umirujuci{
    background-image: url("../slike/umirujuci.jpg");
    background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}
#medicinski{
    background-image: url("../slike/medicinski.jpg");
    background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}